@font-face {
  font-family: "Oxygen";
  src: url(../webfonts/Oxygen-Regular.ttf);
  src: url(../webfonts/Oxygen-Regular.woff2);
}

/* body{
  overflow-x: hidden;
} */

.wb-btn
{
    color: #3488cd;
    border-radius: 12px;
    border:3px solid #3488cd;
    font-family: "Oxygen";
    letter-spacing: 1.5px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.sh-pr-line
{
  text-decoration: line-through;
  color: #93ac26;
  font-weight: 400;
}

.wb-btn:hover
{
    color:white;
    background:#3488cd;
}

.mar_res
{
  margin-top: 50px;
}

.pr-col-gap
{
  margin-top:100px;
}

.PD-con{
  margin-top: 72px;
}

.pr-row
{
  padding-left: 3rem;
  padding-right: 3rem;
}


.PD_search-box{
    width: 79%; 
    margin:20px 5%; 
    position: relative;
    
text-align: center;
}
.PD_search-bar{ 
    width: 54%; 
    height: 35px;
    border: 1px solid #cdcdcd;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 0;
    padding: 17px;
    outline: none;}
    
::placeholder{color:  #928f8f;}
.PD_search-icon{
    width: 18%; 
    position: absolute; 
    height: 35px;
    background: #3488cd;
    border: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
} 

.PD_pic{

  height: 512px;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}

.PD_men-box {
  width: 20%; 
  margin:20px 5%; 
  position: relative;
  margin-left: 40%;
text-align: center;
background-color:#e5e5e5;
border-radius: 42px;
}

.PD_men-box  h5{
   
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  color:  #3488cd;
  font-weight: 600;

}

/* .gides{

  max-width: 1320px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit , minmax(300px ,1fr));
  position: relative;
}
.grid{
  padding: 10px;
 
  position: relative;
  text-align:center;
} */


:root{
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-hover:#192a56;
  --bs-primary:#565c64;
}
.product-grid{
background-color: #fff;
font-family: 'Montserrat', sans-serif;
text-align: center;
}
.product-grid .product-image{
overflow: hidden;
position: relative;
}
.product-grid .product-image a.PD_image{ display: block; }
.product-grid .product-image img{
width: 100%;
height: auto;
}
.product-grid .product-image .PD_pic-1
{ 
  transition: all 0.3s ease 0s;
  border-radius: 12px; 
  height: 350px;
}
.product-grid .product-image:hover .PD_pic-1
{ 
  transform: translateX(100%); 
}
.product-grid .product-image .PD_pic-2{
width: 100%;
/* height: 93.8%; */
transform: translateX(-101%);
position: absolute;
top: 0;
left: 0;
transition: all 0.3s ease 0s;
border-radius: 12px;
height: 350px;
}
.product-grid .product-image:hover .PD_pic-2{ transform: translateX(0); }
.product-grid .product-sale-label{
color: #fff;
background: #3488cd;
font-size: 13px;
text-transform: uppercase;
letter-spacing: 1px;
padding: 2px 8px;
border-radius: 6px;
position: absolute;
top: 15px;
left: 15px;
}
.product-grid .product-like-icon{
color: #696969;
font-size: 22px;
line-height: 20px;
position: absolute;
top: 15px;
right: 15px;
}
.product-grid .product-like-icon:hover{ color: var(--bs-hover); }
.product-grid .product-like-icon:before,
.product-grid .product-like-icon:after{
content: attr(data-tip);
color: #fff;
background-color: #c0105a;
font-size: 12px;
line-height: 18px;
padding: 7px 7px 5px;
visibility: hidden;
position: absolute;
right: 0;
top: 15px;
transition: all 0.3s ease 0s;
}
.product-grid .product-like-icon:after{
content: '';
height: 15px;
width: 15px;
padding: 0;
transform: translateX(-50%) rotate(45deg);
right: auto;
left: 50%;
top: 15px;
z-index: -1;
}
.product-grid .product-like-icon:hover:before,
.product-grid .product-like-icon:hover:after{
visibility: visible;
top: 30px;
}
.product-grid .product-links{
width: 170px;
padding: 0;
margin: 0;
list-style: none;
opacity: 0;
transform: translateX(-50%);
position: absolute;
bottom: -50px;
left: 50%;
transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links{
bottom: 50px;
opacity: 1;
}
.product-grid .product-links li{
display: inline-block;
margin: 0 2px;
}
.product-grid .product-links li a{
color: #fff;
background:  #3488cd;
font-size: 16px;
line-height: 48px;
width: 48px;
height: 48px;
border-radius: 50%;
display: block;
transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links li a:hover{ background:#fff;color: #3488cd; }
.product-grid .product-content{
text-align: left;
padding: 20px 0 0;
}
.product-grid .PD_title{
font-weight: 500;
letter-spacing: 0.5px;
font-family: "Oxygen";
text-transform: capitalize;
margin: 0 0 8px;
}

.pf-font{font-size: 22px;}

.pf-font2{font-size: 17px;}

.product-grid .PD_title a{
color: #333333;
transition: all 0.3s ease 0s;
text-decoration:none;
font-weight:600;
letter-spacing: 0.5px;
font-family: "Oxygen";
}
.product-grid .PD_title a:hover{ color: var(--bs-hover); }
.product-grid .PD_price{
color: var(--bs-hover);
font-weight: 600;
letter-spacing: 0.5px;
font-family: "Oxygen";
}
.product-grid .PD_price span{
color: #93ac26;
font-weight: 400;
text-decoration: line-through;
margin: 0 5px 0 0;
}
@media screen and (max-width: 990px){
.product-grid{ margin: 0 0 30px; }
}

.PD_rating{
  margin-left: -29px;
  margin-top: 3%;
 color: black;
 font-weight: 700;
}
.PD_icon{
  color: rgb(224, 159, 18);
}


.PD_see-more{
  width: 14%; 
  margin:20px 5%; 
  position: relative;
  margin-left: 44%;
text-align: center;
background-color: #3488cd;

}

.PD_see-more h5{
   
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 8%;
  padding-bottom: 5%;
  color:  rgb(232, 233, 235);
  font-weight: 600;

}
.PD_see-more2{
  width: 8%; 
  margin:20px 5%; 
  position: relative;
  margin-left: 46%;
text-align: center;
background-color: #3488cd;

}

.PD_see-more2 h5{
   
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 7%;
  padding-bottom: 8%;
  color:  rgb(232, 233, 235);
  font-weight: 600;

}

/* banner */
html{
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-padding-top:6rem;
  scroll-behavior: smooth;
}

/* section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color:var(--black);
  padding:1rem;
}

.heading span{
  text-transform: uppercase;
  color:var(--orange);
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  font-weight: bolder;
  font-size: 1.7rem;
  color:var(--black);
  cursor: pointer;
  background:#fff;
  padding:.8rem 3rem;
}

.btn:hover{
  background:var(--orange);
  color:#fff;
}

header{
  position: fixed;
  top:0; left:0; right:0;
  z-index: 1000;
  background:#fff;
  padding:2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
  font-size: 2.5rem;
  color:var(--black);
}

header .navbar a{
  font-size: 1.7rem;
  color:var(--black);
  margin:0 1rem;
}*/

a:hover{
  color:#3488cd;
}

/* header .icons a{
  font-size: 2.5rem;
  color:var(--black);
  margin-left:1.5rem;
}

header .icons a:hover{
  color:var(--orange);
}

#menu-bar{
  font-size: 2.5rem;
  padding: .5rem 1.5rem;
  border:.1rem solid var(--black);
  color:var(--black);
  border-radius: .3rem;
  cursor: pointer;
  display: none;
}  */

.home{
  padding:0;
  position:relative;
  /* background:url(../images/home-bg-1.jpg) no-repeat;
  background-size: cover;
  background-position: center; */
}

.home .slide-container .slide{
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
  padding:0 9%;
  padding-top: 9rem;
}

.home .slide-container .slide .content{
  flex:1 1 40rem;
  animation: slideContent .5s linear 1s backwards;
}

@keyframes slideContent{
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
}

.home .slide-container .slide .image{
  flex:1 1 50rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
}

.home .slide-container .slide .image .shoe{
  width:100%;
  transform: rotate(-35deg);
  animation:shoe .3s linear;
  margin-left: 59px
}

@keyframes shoe{
  0%{
    transform: rotate(0deg) scale(.5);
  }
}

.home .slide-container .slide .image .text{
  position: absolute;
  top:0; left:0;
  z-index: -1;
  animation:shoeText .5s linear .5s backwards;
}

@keyframes shoeText{
  0%{
    opacity: 0;
    top:-10rem;
  }
}

.home .slide-container .slide .content span{
  font-size: 2.2rem;
  /* color:#cb0215; */
}

.pd-ban-text{
  color:#cb0215;
}

.pd-ban-text2{
  color:#0f7ad7;
}

.pd-ban-text3{
  color:#ed9721;
}

.home .slide-container .slide .content h3{
  font-size:46px;;
  color:var(--black);
  font-family: "Oxygen";
}

.home .slide-container .slide .content p{
  font-size: 14px;
  color:#2b2b2b;
  padding:.5rem 0;
}

.home .slide-container:nth-child(1) .slide{
  background:url(../images/home-bg-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: nowrap;
}

.home .slide-container:nth-child(2) .slide{
  background:url(../images/home-bg-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: nowrap;
}

.home .slide-container:nth-child(3) .slide{
  background:url(../images/home-bg-3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: nowrap;
}

.home .slide-container{
  display: none;
}

.home .slide-container.active{
  display: block;
}

.pr-ban-pos
{
  top:50px;
}

.home #prev,
.home #next{
  position: absolute;
  top:50%; 
  transform:translateY(-50%);
  border-radius: 50%;
  z-index: 9;
  /* height:5rem; */
  width:5rem;
  line-height: 4.5rem;
  font-size: 2.5rem;
  color:var(--black);
  border:.2rem solid var(--black);
  cursor: pointer;
  text-align: center;
}

.home #prev:hover,
.home #next:hover{
  color:#3488cd;
  background:var(--orange);
}

.home #prev{
  left:3rem;
}

.home #next{
  right:3rem;
}

.pd_cart{
  background-color: red;
  color: w;
}

/* CSS Button Animation (Product Details button) */

.button--anim {
	font-family: "ProductSans";
	font-weight: 500;
	padding: 1rem 1.5rem;
	overflow: hidden;
	color: #fff;
}

.pd-button{
    width:90%;
    text-align: center;
    margin-top:20px;
	pointer-events: auto;
	cursor: pointer;
	background: rgb(10, 37, 65);
	border: none;
    border-radius:12px;
	padding:12px 20px;
	font-family: "ProductSans";
	font-size: 18px;
	position: relative;
	display: inline-block;
}



.pd-button::before,
.pd-button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--anim span {
	display: block;
	position: relative;
    letter-spacing: 1px;
}

.button--anim > span {
	overflow: hidden;
}

.button--anim > span > span {
	overflow: hidden;
}

.button--anim:hover > span > span {
	animation: MoveUpInitial 0.5s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

.button--anim::before {
	content: '';
	background: #3488cd;
    color:white;
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
	transform-origin: 100% 50%;
}

.button--anim:hover::before {
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
}

@keyframes MoveUpInitial {
	to {
		transform: translate3d(0,-105%,0);
	}
}

@keyframes MoveUpEnd {
	from {
		transform: translate3d(0,100%,0);
	}
	to {
		transform: translate3d(0,0,0);
	}
}


@media screen and (max-width:1140px) and (min-width:992px)
{
  .PD_icon {
    font-size: 12px;
  }
  .home #next {
    right: 20px;
  }
  .home #prev {
    left: 20px;
  }
  .home .slide-container .slide {
    min-height: 59.2vh;
  }

  .home .slide-container .slide .content h3 {
    font-size: 35.4px;

  }
  .home .slide-container .slide .image .shoe {
    width: 81%;
    margin-left: 153.0px;
    top: 58.8px;
    position: relative;
  }
  .home .slide-container .slide .image .text {
    position: absolute;
    top: -50.8px;
    left: 113.2px;
    width: 81%;
  }

  .pr-row
  {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .product-grid .product-image .PD_pic-2 {
    height: 250px;
  }
  .product-grid .product-image .PD_pic-1 {

    height: 250px;
  }
  .product-grid .PD_price {

    font-size: 14px;
  }
  .product-grid .PD_title {

    font-size: 14px;
  }
  .pd-button {
    width: 86.6%;
  }
  .button--anim span {

    font-size: 13px;
  }
  .pb-martop {
    margin-top: 36px;
  }
  .pb-martop-2{
    margin-top: 22px;
  }
  .pb-martop-3 {
    margin-top: 10px;
  }
  .pb-martop-4 {
    margin-top: 21.8px;
  }
  .pb-martop-5{
    margin-top: 59px;
  }
  .pb-martop-6{
    margin-top: 50px;
  }
  .pb-martop-7{
    margin-top: 32px;
  } 

  .pb-martop-8{
    margin-top: 45px;
  } 

.product-grid .product-links li a {

    line-height: 42.8px;
    text-align: center;
  }
  .product-grid .product-links li a {
   
    width: 40px;
    height: 40px;
  }
  .pd-se-bott{
    margin-bottom: 77px;
  }
  .product-grid:hover .product-links {
    bottom: 22px;
  }

  .product-grid .product-content {
    padding: 19px 0 0;
  }

  .sh-pr-btns
  {
    margin-top:35px;
  }

  .sh-pr-btns2
  {
    margin-top:22px;
  }

  .pr-col-gap {
    margin-top: 30px;
  }
}


/*---------Responsive Design for Tab----------------*/

@media screen and (max-width:991px) and (min-width:768px){

  .pr-ban-pos
  {
    top:0;
  }

  .home .slide-container .slide {
    min-height: 78.2vh;
  }

  .mar_res
  {
    margin-top: 30px;
  }

  .pr-col-gap
  {
    margin-top: 70px;
  }
.home .slide-container .slide .image .text {
  top: -81px;
  width: 89%;
}

.home .slide-container .slide .image .shoe {
  margin-left: 6.4px;
}

.home .slide-container .slide .content h3 {
  font-size: 28px;
}

.home .slide-container .slide .content span {
  font-size: 1.4rem;
}
.home #prev {
  left: 0.8rem;
  font-size: 1.8rem;
}
.home #next {
  right: 1rem;
  z-index: 9;
}
.product-grid .product-image .PD_pic-1 {
  height: 312px;
}
.product-grid .product-image .PD_pic-2 {
  height: 312px;
}

.product-grid .PD_title {
  font-size: 16px;
}

.product-grid .product-content {
  text-align: left;
  padding: 20px 0 0;
}
.PD_icon {
  font-size: 13px;
}
.pd-se-bott{
  margin-bottom: 3rem;
}
.featureTitle {
  font-size: 12px;
}

.pr-ban-gap
{
  margin-top:85px;
}

}

@media screen and (max-width: 767px) and (min-width:576px) {

  /* .home{
    display: none;

  } */

  .pr-ban-pos
  {
    top:50px;
  }

  .mar_res{
    margin-top: 0 !important;
  }
  
  .home .slide-container .slide .content h3 {
    font-size: 20px;
  }
  .home .slide-container .slide .content span {
    font-size: 1.2rem;
  }
  
  .home .slide-container .slide {
    min-height: 51.6vh;
    padding-top:0;
  }
  .home .slide-container .slide .image .shoe {
    width: 69.4%;
    margin-left: 60.2px;
    margin-top: 132px;
  }
  .home .slide-container .slide .image .text {
      top: 84.4px;
      left: 68px;
      z-index: -1;
      width: 154.2px;
  
  }
  .home #prev {
    left: -0.4rem;
    font-size: 1.5rem;
  }
  .home #next {
    right: 0rem;
    font-size: 1.5rem;
  }
  .product-grid .product-image .PD_pic-1 {
    height: 487px;
  }
  .product-grid .product-image .PD_pic-2 {
    height: 487px;  
  }
  .wb-head3 {
    padding-top: 63px;
  }

  /* .wb-btn
  {
      font-size: 15px;
      padding-left: 2rem;
      padding-right: 2rem;
  } */

  .product-grid .product-content {
    padding: 25px 0 0;
  }
  .pd-se-bott{
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 575px) and (min-width:360px)  {
  .wb-para {
    font-size: 13px;
  }

  .wb-head3 {
    font-size: 18px;
    }

    .pr-row {
      padding-left:0;
      padding-right:0;
    }

    .product-grid .product-content {
      text-align: left;
      padding: 25px 0 0;
    }
    .mar_res{
      margin-top: 0 !important;
    }
    .pd-se-bott{
      margin-bottom: 3rem;
    }
    .home .slide-container.active {
      display: none;
    }

    .sm-mar{
      margin-top: 72px !important;
      
    }
    .sm-mb{
      margin-bottom: 50px;
    }

    .sm-man-mar{
      margin-top: 0 !important;
    }

    .product-grid .PD_title a {
      font-size: 20px;
    }

    .wb-btn
    {
      font-size: 15px;
      padding-left: 2rem;
      padding-right: 2rem;

    }

    

  
}


