.fixed_social{
    position: fixed;
    top: 50%;
    /* -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); */
    transform: translateY(-50%);
    background-color: #e1e1e1e8;
    padding: 5px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 4%;
    z-index: 15;
    text-align: center;
    line-height: 3;
  
  }
  .fac-color{
    color:#1877F2;
    font-size: 16px;
  }
  .insta-color{
    color:hwb(11 2% 6%);
    font-size: 16px;
  }
  .twi-color{
    color:hwb(0 0% 100%);
    font-size: 16px;
  }
  /* animacion pulse */
  
  .whatsapp-pulse {
      width: 60px;
      height: 60px;
      right: 10px;
      bottom: 10px;
      background: #10b418;
      position: fixed;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
      border-radius: 50%;
      z-index: 99;
      display: inline-block;
      line-height: 65px;
  }
  
  .whatsapp-pulse:before {
      position: absolute;
      content: " ";
      z-index: -1;
      bottom: -15px;
      right: -15px;
      background:#3488cd;;
      width: 90px;
      height: 90px;
      border-radius: 100%;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
      opacity: 0.6;
      -webkit-animation: pulse 1s ease-out;
      animation: pulse 1.8s ease-out;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
  }
  .wh-api {
      position: fixed;
      bottom: 0;
      right: 0;
  }
  
  .wh-fixed {
      margin-right: 15px;
      margin-bottom: 15px;
  }
  
  .wh-fixed > a {
      display: block;
      text-decoration: none;
  }
  
  button.wh-ap-btn::before {
      content: "Chat with me";
      display: block;
      position: absolute;
      margin-left: -130px;
      margin-top: 16px;
      height: 25px;
      background: #49654e;
      color: #fff;
      font-weight: 400;
      font-size: 15px;
      border-radius: 3px;
      width: 0;
      opacity: 0;
      padding: 0;
      transition: opacity 0.4s, width 0.4s, padding 0.5s;
      padding-top: 7px;
      border-radius: 30px;
      box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
  }
  
  .wh-fixed > a:hover button.wh-ap-btn::before {
      opacity: 1;
      width: auto;
      padding-top: 7px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100px;
  }
  @-webkit-keyframes pulse {
      0% {
          -webkit-transform: scale(0);
          opacity: 0;
      }
      25% {
          -webkit-transform: scale(0.3);
          opacity: 1;
      }
      50% {
          -webkit-transform: scale(0.6);
          opacity: 0.6;
      }
      75% {
          -webkit-transform: scale(0.9);
          opacity: 0.3;
      }
      100% {
          -webkit-transform: scale(1);
          opacity: 0;
      }
  }
  
  @keyframes pulse {
      0% {
          transform: scale(0);
          opacity: 0;
      }
      25% {
          transform: scale(0.3);
          opacity: 1;
      }
      50% {
          transform: scale(0.6);
          opacity: 0.6;
      }
      75% {
          transform: scale(0.9);
          opacity: 0.3;
      }
      100% {
          transform: scale(1);
          opacity: 0;
      }
  }